<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <br>
      <p class=" text-info">May 05,2014,03:00 pm </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">
            </div>
                  
            <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
              <dl>
                <dt>DEPARTMENT:</dt>
                <dd>Administrator</dd>
                <dt>HIRE DATE</dt>
                <dd>11/12/2013</dd>
                <dt>DATE OF BIRTH</dt>
                    <dd>11/12/2013</dd>
                <dt>GENDER</dt>
                <dd>Male</dd>
              </dl>
            </div>-->
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Name:</td>
                    <td><%= current_user.name %></td>
                  </tr>

                  <tr>
                    <td>Email:</td>
                    <td><%= current_user.email %></td>
                  </tr>

                  <tr>
                    <% if current_user.user_type == true %>
                    <td>User type:</td>
                    <td>Borrower</td>
                    <% else %>
                    <td>User type:</td>
                    <td>Lender</td>
                  </tr>

                  <tr>
                    <td>Mobile number:</td>
                    <td><%= current_user.mobile_number %>/td>
                  </tr>

                  <tr>
                    <td>Country:</td>
                    <td><%= current_user.address %></td>
                  </tr>

                  <tr>
                    <td>Date of birth</td>
                    <td><%= current_user.dob %></td>
                  </tr>

                  <tr>
                    <td>Bank account number:</td>
                    <td><%= current_user.account_number %></td>
                  </tr>

                  <tr>
                    <td>BSB</td>
                    <td><%= current_user.bsb %></td>
                  </tr>

                  <tr>
                    <td>Drivers license number</td>
                    <td><%= current_user.driver_id %></td>
                  </tr>

                  <tr>
                    <td>Drivers license photo</td>
                    <td><%= image_tag current_user.avatar, class: 'image-size' %></td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
          <span class="pull-right">
              <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
              <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
