<div class="container">
  <h1>Personal Information</h1>
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <p><%= link_to 'Edit profile', edit_user_registration_path %></p>
      <p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
      <p class=" text-info">Created at: <%= current_user.created_at %></p>
      <p class=" text-info">Updated at: <%= current_user.updated_at %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Profile</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td><%= current_user.name %></td>
                  </tr>
                  <tr>
                    <td>Date of birth</td>
                    <td><%= current_user.dob %></td>
                  </tr>
                  <tr>
                    <td>User type</td>
                    <% if current_user.user_type == true %>
                      <td>Borrower</td>
                    <% else %>
                      <td>Lender</td>
                    <% end %>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Contact</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Email</td>
                    <td><%= current_user.email %></td>
                  </tr>
                  <tr>
                    <td>Mobile number</td>
                    <td><%= current_user.mobile_number %></td>
                  </tr>
                  <tr>
                    <td>Country</td>
                    <td><%= current_user.address %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Other details</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Bank account number</td>
                    <td><%= current_user.account_number %></td>
                  </tr>
                  <tr>
                    <td>BSB</td>
                    <td><%= current_user.bsb %></td>
                  </tr>
                  <tr>
                    <td>Drivers license number</td>
                    <td><%= current_user.driver_id %></td>
                  </tr>
                  <tr>
                    <td>Drivers license photo</td>
                    <td><%= image_tag current_user.avatar, class: 'drivers-license-image-size' %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
