<div class="borrower-listing">

  <div class="listing-id">
    <p>Listing Number: <%= @listing.id %></p>
  </div>

  <div class="listing-posted-at">
    <p>Posted at: <%= @listing.created_at %></p>
  </div>

  <div class="listing-updated-at">
    <p>Updated at: <%= @listing.updated_at %></p>
  </div>

  <div class="listing-title">
    <h1>Title:</h1>
    <p><%= @listing.title %></p>
  </div>

  <div class="listing-amount">
    <h2>Amount:</h2>
    <p>AU<%= number_to_currency(@listing.amount) %></p>
  </div>

  <div class="listing-description">
    <h2>Description:</h2>
    <p><%= @listing.description %></p>
  </div>
</div>