
<h1>List</h1>
 
<%= link_to 'Create a New List', new_listing_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.title %></td>
      <td><%= listing.description %></td>
      <td><%= link_to 'Show', listing_path(listing) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>