<div class="new-listing-container">
  <%= form_with scope: :listing, url: listings_path, local: true do |form| %>
    <div class="listing-title">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>
    <div class="listing-amount">
        <%= form.label :amount %><br>
        <%= form.text_field :amount %>
    </div>
    <div class="listing-description">
        <%= form.label :description %><br>
        <%= form.text_area :description, :cols => 43, :rows => 10 %>
    </div>
    <div class="listing-submit-button">
        <%= form.submit 'Create a new listing', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to 'To Listings', listings_path %>
</div>
