<div class="borrower-request">
  <h1>
    Title: <%= @listing.title %>
  </h1>

  <h2>
    <strong>Description:</strong>
  </h2>
  <p>
    <%= @listing.description %>
  </p>


  <h2>
    <strong>Request Amount</strong>
  </h2>
  <p>
    AUD <%= @listing.amount %>
  </p>

  <% if (user_signed_in? && current_user.id == @listing.user_id)%>
    <%= link_to "Edit #{@listing.title}", edit_listing_path %>
  <% end %>

  <% if (user_signed_in? && current_user.id == @listing.user_id) %>
  <%= link_to "Destroy #{@listing.title}", @listing,
              method: :delete,
              data: { confirm: 'Are you sure you want to delete ' + @listing.title } %>
  <% end %>
</div>

<br>

<div class="lenders-offers">
  <h1>Offers</h1>
  <%= render @listing.offers %>
    

  <% if user_signed_in? %>
    <% unless current_user.id == @listing.user_id %>  
      <h2>Add your offer:</h2>
      <%= render 'offers/form' %>
    <% end %>
  <% else %>
    <h2>You can add your offer after <%= link_to 'Sign Up', new_user_registration_path %> / <%= link_to 'Log in', new_user_session_path %>.</h2>
  <% end %>
  
</div>




<%= link_to 'Back', listings_path %>