<% if @listing.status == true %>
  <h1>DEAL HAS BEEEN DONE </h1>
    <%= render 'listing' %>
    
<% else %>
  <h1>DEAL STILL THERE </h1>
  <%= render 'listing' %>

    <% if (user_signed_in? && current_user.id == @listing.user_id)%>
      <div class="listing-edit-button">
        <%= link_to "Edit #{@listing.title}", edit_listing_path %>
      </div>
    <% end %>

    <% if (user_signed_in? && current_user.id == @listing.user_id) %>
      <div class="listing-delete-button">
        <%= link_to "Destroy #{@listing.title}", @listing,
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete ' + @listing.title } %>
      </div>
    <% end %>


<% end %>

<div class="lenders-offers">
  <h1>Offers</h1>
  
  <% if user_signed_in? %>
    <%= render 'offers/accepted_offer' %>
    <%= render 'offers/pending_offer' %>
    <%= render 'offers/rejected_offer' %>
    
    <% if current_user.user_type != true && current_user.id != @listing.user_id && @listing.status == false %>  
      <h2>Add your offer:</h2>
      <%= render 'offers/form' %>
    <% end %>
  <% else %>
    <h2>You can see/add your offers after you <%= link_to 'Sign Up', new_user_registration_path %> / <%= link_to 'Log in', new_user_session_path %>.</h2>
  <% end %> 
</div>

<%= link_to 'Back', listings_path %>