<div class="borrower-request">
  <h1>
    Title: <%= @listing.title %>
  </h1>

  <h2>
    <strong>Description:</strong>
  </h2>
  <p>
    <%= @listing.description %>
  </p>


  <h2>
    <strong>Request Amount</strong>
  </h2>
  <p>
    AUD <%= @listing.amount %>
  </p>
  <%= link_to "Edit #{@listing.title}", edit_listing_path %>
  <%= link_to "Destroy #{@listing.title}", @listing,
              method: :destroy,
              data: { confirm: 'Are you sure you want to delete ' + @listing.title } %>

</div>

<br>

<div class="lenders-offers">
  <h1>Offers to <%= @listing.title %></h1>
  <%# <%= render 'offers/offers' %>
    <% @listing.offers.each do |offer| %>
      <h2>
        Offering Interest Rate: <%= offer.interest %>
      </h2>
      <h3>
        Description: <%= offer.description %>
      </h3>
      <%= link_to "Edit your offer", edit_listing_offer_path(offer.id) %>
      <%= link_to "Cancel your offer", listing_offer_path(offer.id), 
                            method: :destroy,
                            data: { confirm: "Are you sure you want to delete?" }  %>
    <% end %>



  <h2>Add your offer:</h2>
  <%= render 'offers/form' %>
  
</div>




<%= link_to 'Back', listings_path %>