<div class="borrower-request">
  <h1>
    Title: <%= @listing.title %>
  </h1>

  <h2>
    <strong>Description:</strong>
  </h2>
  <p>
    <%= @listing.description %>
  </p>


  <h2>
    <strong>Request Amount</strong>
  </h2>
  <p>
    AU<%= number_to_currency(@listing.amount) %>
  </p>

  <% if (user_signed_in? && current_user.id == @listing.user_id)%>
    <%= link_to "Edit #{@listing.title}", edit_listing_path %>
  <% end %>

  <% if (user_signed_in? && current_user.id == @listing.user_id) %>
  <%= link_to "Destroy #{@listing.title}", @listing,
              method: :delete,
              data: { confirm: 'Are you sure you want to delete ' + @listing.title } %>
  <% end %>
</div>

<br>

<div class="lenders-offers">
  <h1>Offers</h1>
  
  <% if user_signed_in? %>  
    <% @listing.offers.each do |offer| %>
      <p>
        <strong>Lender Name:</strong>
        <%= offer.user.name %>
      </p>
      
      <p>
        <strong>Interest:</strong>
        <%= offer.interest %> %
      </p>
      
      <p>
        <strong>Interest amount:</strong>
        AU<%=  number_to_currency(@listing.amount * (offer.interest/100) * offer.months / 12)%>
      </p>
      
      <p>
        <strong>Term:</strong>
        <%= offer.months %> months
      </p>

      <p>
        <strong>Comment:</strong>
        <%= offer.description %>
      </p>
      <% @amount =  @listing.amount * offer.interest * offer.months / 12 %>
      <%= render "layouts/shared/stripe_form", amount: @amount, offer_id: offer.id %>
    <% end %>
    <% if current_user.user_type != true && current_user.id != @listing.user_id %>  
      <h2>Add your offer:</h2>
      <%= render 'offers/form' %>
    <% end %>
  <% else %>
    <h2>You can add your offer after <%= link_to 'Sign Up', new_user_registration_path %> / <%= link_to 'Log in', new_user_session_path %>.</h2>
  <% end %> 

</div>




<%= link_to 'Back', listings_path %>