<div class="texta"><h1>My Loan Requests</h1></div>
<% if can? :create, Listing %>
  <div class="texta"><%= button_to "Create New Listing", new_listing_path, class: 'btn btn-primary', :method => "get" %></div>
<% end %>
<%if user_signed_in? %>
  <% if current_user.user_type == true %>
    <div class="index-page">
      <div class="bookshelf">
        <% @listings = Listing.all %>
        <% @listings.each do |listing| %>
          <%if current_user.id == listing.user_id %>
            <div class="book-card bg-light">
              <div class="book-description">
                <% if listing.status == false %>
                  <h3>REQUESTING</h3>
                <% else listing.status == true%>
                  <h3>DEAL DONE</h3>
                <% end %>
                <p>Title: <%= listing.title %></p>
                <p>Requesting amount: AU<%= number_to_currency(listing.amount) %></p>
                <p>Description: <%= listing.description %></p>
              </div>
              <div class="index-page-nav-links">
                <button><%= link_to "show", listing %></button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>