<% @listing.offers.each do |offer| %>
  <% if offer.status == true %>
    <div class="container">
      <div class="border3" >
        <div class="texta">
          <h2>Accepted Offer</h2>
          <div class="offer-id">
            <p><strong>Offer number</strong>: <%= offer.id %></p>
          </div>
          <div class="offer-posted-at">
            <p><strong>Posted at</strong>: <%= offer.created_at.strftime("%b. %d, %Y") %></p>
          </div>
          <div class="offer-updated-at">
            <p><strong>Updated at</strong>: <%= offer.updated_at.strftime("%b. %d, %Y") %></p>
          </div> 
          <div class="offer-lender-name">
            <p>
              <strong>Lender Name:</strong>
              <%= offer.user.name %>
            </p>
          </div>
          <div class="offer-interest">
            <p>
              <strong>Interest rate:</strong>
              <%= offer.interest %> %
            </p>
          </div>
          <div class="offer-term">
            <p>
              <strong>Lending term:</strong>
              <%= offer.months %> months
            </p>
          </div>
          <div class="offer-interest-amount">
            <p>
              <strong>Interest amount:</strong>
              AU<%=  number_to_currency(@listing.amount * (offer.interest/100) * offer.months / 12)%>
            </p>
          </div>
          <div class="offer-description">
            <p>
              <strong>Description:</strong>
              <%= offer.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>