
<%= form_with(model: [ @listing, @listing.offers.build ], local: true) do |form| %>
  <p>
    <%= form.label :interest_rate %><br>
    <%= form.text_field :interest %> %
  </p>
  <p>
    <%= form.label :term %><br>
    <%= form.text_field :months %> months
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, :cols => 43, :rows => 10 %>
  </p>
  <p>
    <%= form.submit %>
  </p>

  
<% end %>