<p>
  <strong>Interest:</strong>
  <%= offer.interest %> %
</p>
 
<p>
  <strong>Comment:</strong>
  <%= offer.description %>
</p>

<%= render "layouts/shared/stripe_form" %>

<p>
  <% if (user_signed_in? && current_user.id == offer.user_id) %>
    <%= link_to 'Edit your offer', edit_listing_offer_path(@listing, offer.id) %>
  <% end %>

  <% if (user_signed_in? && current_user.id == offer.user_id) %>
    <%= link_to 'Destroy your Offer', [offer.listing, offer],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>