<% @listing.offers.each do |offer| %>
  <% if offer.status == false && @listing.status == false %>

    <div class="container">
            <div class="border2" >
             <div class="texta" >
    <h2>Pending Offer by <%= offer.user.name %></h2>
    <div class="offer-id">
      <p>Offer number: <%= offer.id %></p>
    </div>

    <div class="offer-posted-at">
      <p>Posted at: <%= offer.created_at %></p>
    </div>

    <div class="offer-updated-at">
      <p>Updated at: <%= offer.updated_at %></p>
    </div>

    <p>  
      <strong>Lender Name:</strong>
      <%= offer.user.name %>
    </p>
    
    <p>
      <strong>Interest rate:</strong>
      <%= offer.interest %> %
    </p>
    
    <p>
      <strong>Lending term:</strong>
      <%= offer.months %> months
    </p>
    
    <p>
      <strong>Interest amount :</strong>
      AU<%=  number_to_currency(@listing.amount * (offer.interest/100) * offer.months / 12)%>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= offer.description %>
    </p>

    <% if current_user.user_type == true && current_user.id == @listing.user_id && @listing.status == false %> 
      <% @amount =  @listing.amount * offer.interest * offer.months / 12 %>
      <%= render "layouts/shared/stripe_form", amount: @amount, offer_id: offer.id %>
          </div>
    </div>
    </div>
    <% end %>

    <p>
      <% if (user_signed_in? && current_user.id == offer.user_id) %>
        <%= link_to 'Edit your offer', edit_listing_offer_path(@listing, offer.id) %>
      <% end %>

      <% if (user_signed_in? && current_user.id == offer.user_id) %>
        <%= link_to 'Destroy your Offer', [offer.listing, offer],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>

  <% end %>
<% end %>
