<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td><%= f.label :name %></td>
                <td><%= f.text_field :name, autofocus: true %></td>
              </tr>
              <tr>
                <td><%= f.label :date_of_birth %></td>
                <td><%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1920 %></td>
              </tr>
              <tr>
                <td><%= f.label :user_type, "User Type"%></td>
                <td><%= f.radio_button :user_type, true, :value => true%>Borrower
                    <%= f.radio_button :user_type, false , :checked => true , :value => false %> Lender</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td><%= f.label :email %></td>
                <td><%= f.email_field :email %></td>
              </tr>
              <tr>
                <td><%= f.label :"Mobile Number" %></td>
                <td><%= f.number_field :mobile_number, autofocus: true %></td>
              </tr>
              <tr>
                <td><%= f.label :"Country" %></td>
                <td><%= f.text_field :address, autofocus: true %></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Other details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td><%= f.label :"Banck account Number" %></td>
                <td><%= f.number_field :account_number, autofocus: true %></td>
              </tr>
              <tr>
                <td><%= f.label :"BSB" %></td>
                <td><%= f.number_field :bsb, autofocus: true %></td>
              </tr>
              <tr>
                <td><%= f.label :"Drivers License number" %></td>
                <td><%= f.number_field :driver_id, autofocus: true %></td>
              </tr>
              <tr>
                <td><%= f.label :"Drivers License photo" %></td>
                <td><%= f.file_field :avatar, autofocus: true %>
                <br><p>Current File<p>
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, class: 'drivers-license-image-size' %>
                <% end %>
                </td>
                <%# <td><input type="file" name="avatar" id="avatar"></td> %>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>